name: renovate-config-validator

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get config files
        id: files
        run: |
          FILES=$(find configs/ -type f \( -name "*.json" -o -name "*.json5" \))
          echo "::set-output name=files::$FILES"

      - name: Validate Renovate config
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          config_file_path: ${{ steps.files.outputs.files }}
