name: renovate-config-validator

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Get config files
        id: files
        run: |
          FILES=$(find configs/ -type f \( -name "*.json" -o -name "*.json5" \))
          echo "::set-output name=files::$FILES"

      - name: Validate Renovate config
        uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
        with:
          config_file_path: ${{ steps.files.outputs.files }}
